@layer base {
  :root {
    --bg: #0f0f0f;
    --bg-soft: #1a1a1a;
    --text: #ff5e00fd;
    --accent: #ff4d00;
    --font-bold: "Roboto", sans-serif;
    --font-primary: 'Smooch Sans', sans-serif;
  }

  body {
    background: radial-gradient(
      circle at 50% 40%,
      var(--bg-soft) 0%,
      var(--bg) 70%,
      #000 100%
    );
    font-family: var(--font-primary);
    font-weight: 400;
    color: var(--text);
    overflow-x: hidden;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    margin: 0;
    font-family: var(--font-bold);
  }
  p {
    font-family: 'Smooch Sans', sans-serif;
  }
}
