@layer reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  h1 {
    margin: 0 !important;
  }

  ul,
  ol {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  button,
  input,
  textarea {
    font-family: inherit;
    border: none;
    outline: none;
    background: none;
  }

  img,
  picture,
  video,
  canvas {
    display: block;
    max-width: 100%;
  }

  body {
    line-height: 1.5;
  }
}
